
/*body*/
body {max-width: 828px; 
max-height: 3824px;}



/*header*/
header { display: flex;
justify-content: space-between;
}

/*Formulario*/

.busqueda {width: 100%;}
.busqueda input { width: 95%; border-radius: 5px; margin-right: 2.5%;margin-left: 2.5%;}

/*Section1*/

.grid1 { display: grid;
grid-template-columns: 33% 33% 33%;
}




 

 

